.div-movies-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    flex-direction: row;
    padding-left: 3%;
}

.example-full-width {
    width: 80%;
}

.div-search {
    display: flex;
    //background-color: darkmagenta;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background: url('https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/hPea3Qy5Gd6z4kJLUruBbwAH8Rm.jpg') no-repeat center center fixed;;
}

.div-search-child {
    width: 100%;
    height: 230px;
    padding-top: 70px;
    padding-left: 3%;
    padding-right: 3%;
    background-color: rgba(24, 24, 24, 0.5);
}

.div-search-child mat-form-field {
    
    width: 90%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 3%;
    color: white;
}

#title {
    font-size: 4em;
    font-weight: bold;
    font-weight: 700;
    line-height: 1;
    color: white;
}

#subtitle {
    font-size: 2em;
    font-weight: 400;
    margin: 0;
    color: white;
}