<div class="div-search">
    <div class="div-search-child">
        <h2 id="title">Bienvenidos.</h2>
        <h3 id="subtitle">Millones de películas, programas de televisión y personas por descubrir. Explora ahora.</h3>

        <form (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>Nombre de la pelicula</mat-label>
                <input matInput type="text" id="movie-name" name="movie-name" [(ngModel)]="movieName"
                    placeholder="Buscar película, serie de TV o persona...">
            </mat-form-field>
            <button mat-raised-button type="submit" color="primary">Buscar</button>
        </form>
    </div>
</div>

<div class="div-movies-card mat-app-background">
    <div *ngFor='let item of moviesList'>
        <app-movie-card imgUrl={{item.poster_path}} title={{item.original_title}} releaseDate={{item.release_date}}>
        </app-movie-card>
    </div>
</div>